[Unit]
Description=Spring Petclinic for Olena
After=network.target

[Service]
User=olena
WorkingDirectory=/home/olena/spring-petclinic
ExecStart=/usr/bin/java -jar /home/Olena/spring-petclinic/target/spring-petclinic-4.0.0-SNAPSHOT.jar --server.port=8080 --spring.profiles.active=mysql;
Restart=always
RestartSec=10
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
